@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div class="alert alert-info">
    <h3><strong>About Centric Consulting</strong></h3>
    <h4>We treat our culture with the same importance as we do our business strategy.</h4>
</div>
