<br />
@{
    ViewBag.Title = "About Centric";
}

<div style="background-color: #fdb825">
    <h2 class="text-center" style="font-size: 50px; color: #2c1a5d"><strong>About Centric Consulting</strong></h2>
</div>   
<br />
<p><h3 class="text-center" style="color:#2c1a5d"><em>Established since 1999</em></h3></p>
<p><h3 class="text-center" style="color:#2c1a5d"><em>"We treat our culture with the same importance as we do our business strategy."</em></h3></p>
<p><h3 class="text-center" style="color:#2c1a5d"><em>Centric Consulting has grown more than 1,000 employees in 13 cities in the United States and India.</em></h3></p>
<br />
<br />
<html>
<style>
img {
    width:100%;
}
table, td {
    border: 1px solid black;
}
td {
    padding:8px;
}
    td:nth-child(even) {
        background-color: #fdb825;
    }
</style>
<body>

<table style="width:100%">
    <tr>
        <td class="text-center" style="color: #2c1a5b"><strong>Boston</strong></td>
        <td class="text-center" style="color: #2c1a5b"><strong>Charlotte</strong></td>
        <td class="text-center" style="color: #2c1a5b "><strong>Chicago</strong></td>
        <td class="text-center" style="color: #2c1a5b"><strong>Cincinnati</strong></td>
        <td class="text-center" style="color: #2c1a5b "><strong>Cleveland</strong></td>
        <td class="text-center" style="color: #2c1a5b"><strong>Columbus</strong></td>
        <td class="text-center" style="color: #2c1a5b "><strong>Detroit</strong></td>
        <td class="text-center" style="color: #2c1a5b"><strong>India</strong></td>
        <td class="text-center" style="color: #2c1a5b "><strong>Indianapolis</strong></td>
        <td class="text-center" style="color: #2c1a5b"><strong>Louisville</strong></td>
        <td class="text-center" style="color: #2c1a5b "><strong>Miami</strong></td>
        <td class="text-center" style="color: #2c1a5b"><strong>Seattle</strong></td>
        <td class="text-center" style="color: #2c1a5b "><strong>St. Louis</strong></td>
        <td class="text-center" style="color: #2c1a5b"><strong>Tampa</strong></td>
    </tr>
</table>
<br />
<img src="https://centricconsulting.com/wp-content/uploads/2020/08/centric_logo_color-scaled.jpg" alt="Digital, Business and Technology Solutions | Centric Consulting" class="center">

</body>
</html>


