@{
    ViewBag.Title = "About Centric";
}

<div class="alert alert-info">
    <h3 style="color:black"><strong>About Centric Consulting</strong></h3>
    <br />
    <h4 style="color:black">"We treat our culture with the same importance as we do our business strategy."</h4>
</div>
<br />
<br />
<p>
    <strong style="color:white">Established since 1999.</strong><br />
    <strong style="color:white">Centric Consulting has grown more than 1,000 employees in 13 cities in the United States and India.</strong><br />
    <br />
</p>
<html>
<style>
table, td {
    border: 1px solid black;
}
td {
    padding:8px;
}
td:nth-child(even) {
    background-color: gold;
}
</style>
<body>

<table style="width:100%" >
    <tr>
        <td class="text-center" style="color:white"><strong>Boston</strong></td>
        <td class="text-center" style="color:white"><strong>Charlotte</strong></td>
        <td class="text-center" style="color:white"><strong>Charlotte</strong></td>
        <td class="text-center" style="color:white"><strong>Cincinnati</strong></td>
        <td class="text-center" style="color:white"><strong>Cleveland</strong></td>
        <td class="text-center" style="color:white"><strong>Columbus</strong></td>
        <td class="text-center" style="color:white"><strong>Detroit</strong></td>
        <td class="text-center" style="color:white"><strong>India</strong></td>
        <td class="text-center" style="color:white"><strong>Indianapolis</strong></td>
        <td class="text-center" style="color:white"><strong>Louisville</strong></td>
        <td class="text-center" style="color:white"><strong>Miami</strong></td>
        <td class="text-center" style="color:white"><strong>Seattle</strong></td>
        <td class="text-center" style="color:white"><strong>St. Louis</strong></td>
        <td class="text-center" style="color:white"><strong>Tampa</strong></td>
    </tr>
</table>

</body>
</html>


