@{
    ViewBag.Title = "About Centric";
}

<h3 style="color:black"><strong>About Centric Consulting</strong></h3>
<h4 style="color:black">"We treat our culture with the same importance as we do our business strategy."</h4>
<br />
<br />
<p>
    <strong>Established since 1999.</strong><br />
    <strong>Centric Consulting has grown more than 1,000 employees in 13 cities in the United States and India.</strong><br />
    <br />
    <strong>Locations include:</strong>
</p>
<html>
<style>
table, td {
    border: 1px solid black;
}
td {
    padding:8px;
}
td:nth-child(even) {
    background-color: lightblue;
}
</style>
<body>

<table style="width:100%">
    <tr>
        <td class="text-center"><strong>Boston</strong></td>
        <td class="text-center"><strong>Charlotte</strong></td>
        <td class="text-center"><strong>Charlotte</strong></td>
        <td class="text-center"><strong>Cincinnati</strong></td>
        <td class="text-center"><strong>Cleveland</strong></td>
        <td class="text-center"><strong>Columbus</strong></td>
        <td class="text-center"><strong>Detroit</strong></td>
        <td class="text-center"><strong>India</strong></td>
        <td class="text-center"><strong>Indianapolis</strong></td>
        <td class="text-center"><strong>Louisville</strong></td>
        <td class="text-center"><strong>Miami</strong></td>
        <td class="text-center"><strong>Seattle</strong></td>
        <td class="text-center"><strong>St. Louis</strong></td>
        <td class="text-center"><strong>Tampa</strong></td>
    </tr>
</table>

</body>
</html>


