@{
    ViewBag.Title = "Centric's Consulting Core Values";
}
<html>
<head>
    <style>
        table, th, td {
            border: 2px solid white;
            border-collapse: collapse;
        }

        th, td {
            padding: 20px;
        }

        tr:nth-child(odd) {
            background-color: gold;
        }
    </style>
</head>
<body>

    <div style="background-color:gold">
        <h2 class="text-center" style="color:white"><strong>@ViewBag.Title</strong></h2>
    </div>
    <br />
    <p><h2 style="color:white"><em> Our core values provide a reliable foundation to help us create innovative solutions for our clients – even when faced with a tough problem.</em></h2></p>

<table style="width:50%" class="glyphicon-align-center">
    <tr>
        <th style="color:white" class="text-center">Stewardship</th>
        <td style="color:white" class="text-left"><strong>Practice Responsible Stewardship</strong></td>
    </tr>
    <tr>
        <th style="color:white" class="text-center">Culture</th>
        <td style="color:white" class="text-left"><strong>Invest in an Exceptional Culture</strong></td>
    </tr>
    <tr>
        <th style="color:white" class="text-center">Delivery Excellence</th>
        <td style="color:white" class="text-left"><strong>Commit to Delivery Excellence</strong></td>
    </tr>
    <tr>
        <th style="color:white" class="text-center">Innovation</th>
        <td style="color:white" class="text-left"><strong>Strive to Innovate</strong></td>
    </tr>
    <tr>
        <th style="color:white" class="text-center">Greater Good</th>
        <td style="color:white" class="text-left"><strong>Ignite Passion for the Greater Good</strong></td>
    </tr>
    <tr>
        <th style="color:white" class="text-center">Integrity and Openness</th>
        <td style="color:white" class="text-left"><strong>Embrace Integrity and Openness</strong></td>
    </tr>
    <tr>
        <th style="color:white" class="text-center">Balance</th>
        <td style="color:white" class="text-left"><strong>Live a Balanced Life</strong></td>
    </tr>
</table>

</body>
</html>

<br />
<br />


