@{
    ViewBag.Title = "Centric's Core Values";
}

<html>
<head>
<style>
    table, th, td {
        border: 2px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color:lightblue;
    }
</style>
</head>
<body>

<div style="background-color:lightblue">
    <h2 style="color:black"><strong>@ViewBag.Title</strong></h2>
</div>

<br />


<table style="width:52%">
    <tr>
        <th class="text-center">Stewardship</th>
        <td class="text-left"><strong>Practice Responsible Stewardship</strong></td>
    </tr>
    <tr>
        <th class="text-center">Culture</th>
        <td class="text-left"><strong>Invest in an Exceptional Culture</strong></td>
    </tr>
    <tr>
        <th class="text-center">Delivery Excellence</th>
        <td class="text-left"><strong>Commit to Delivery Excellence</strong></td>
    </tr>
    <tr>
        <th class="text-center">Innovation</th>
        <td class="text-left"><strong>Strive to Innovate</strong></td>
    </tr>
    <tr>
        <th class="text-center">Greater Good</th>
        <td class="text-left"><strong>Ignite Passion for the Greater Good</strong></td>
    </tr>
    <tr>
        <th class="text-center">Integrity and Openness</th>
        <td class="text-left"><strong>Embrace Integrity and Openness</strong></td>
    </tr>
    <tr>
        <th class="text-center">Balance</th>
        <td class="text-left"><strong>Live a Balanced Life</strong></td>
    </tr>
</table>

</body>
</html> 

<br />
<br />

<address>
    1020 Dennison Ave<br />
    Columbus, OH 43201-6399<br />
    <abbr title="Phone">P:</abbr>
    614.519.0798
</address>

<address>
    <strong>News and Events:</strong>   <a href="https://centricconsulting.com/news-and-events/">Support@example.com</a><br />
    <strong>Careers:</strong> <a href="https://centricconsulting.com/about-us/careers/">Marketing@example.com</a>
</address>
