@{
    ViewBag.Title = "Centric's Core Values";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

Stewardship: Practice Responsible Stewardship<br />
Culture: Invest in an Exceptional Culture<br />
Delivery Excellence: Commit to Delivery Excellence<br />
Innovation: Strive to Innovate<br />
Greater Good: Ignite Passion for the Greater Good<br />
Integrity and Openness: Embrace Integrity and Openness<br />
Balance: Live a Balanced Life<br />
                             <br />
                             <br />
                             <br />


<address>
    1020 Dennison Ave<br />
    Columbus, OH 43201-6399<br />
    <abbr title="Phone">P:</abbr>
    614.519.0798
</address>

<address>
    <strong>News and Events:</strong>   <a href="https://centricconsulting.com/news-and-events/">Support@example.com</a><br />
    <strong>Careers:</strong> <a href="https://centricconsulting.com/about-us/careers/">Marketing@example.com</a>
</address>
