@{
    ViewBag.Title = "Centric's Core Values";
}
<html>
<head>
<style>
    table, th, td {
        border: 2px solid black;
        border-collapse: collapse;
    }
</style>
</head>
<body>

<h2>@ViewBag.Title</h2>

<h3>@ViewBag.Message</h3>


<table style="width:42%">
    <tr>
        <th class="text-center">Stewardship</th>
        <td class="text-left"><strong>Practice Responsible Stewardship</strong></td>
    </tr>
    <tr>
        <th class="text-center">Culture</th>
        <td class="text-left">Invest in an Exceptional Culture</td>
    </tr>
    <tr>
        <th class="text-center">Delivery Excellence</th>
        <td class="text-left">Commit to Delivery Excellence</td>
    </tr>
    <tr>
        <th class="text-center">Innovation</th>
        <td class="text-left">Strive to Innovate</td>
    </tr>
    <tr>
        <th class="text-center">Greater Good</th>
        <td class="text-left">Ignite Passion for the Greater Good</td>
    </tr>
    <tr>
        <th class="text-center">Integrity and Openness</th>
        <td class="text-left">Embrace Integrity and Openness </td>
    </tr>
    <tr>
        <th class="text-center">Balance</th>
        <td class="text-left">Live a Balanced Life</td>
    </tr>
</table>

</body>
</html> 



<address>
    1020 Dennison Ave<br />
    Columbus, OH 43201-6399<br />
    <abbr title="Phone">P:</abbr>
    614.519.0798
</address>

<address>
    <strong>News and Events:</strong>   <a href="https://centricconsulting.com/news-and-events/">Support@example.com</a><br />
    <strong>Careers:</strong> <a href="https://centricconsulting.com/about-us/careers/">Marketing@example.com</a>
</address>
