<br />
<br />
@{
    ViewBag.Title = "Centric's Consulting Core Values";
}
<html>
<head>
    <style>
        img {
            width:100%;
        }
        table, th, td {
            border: 2px solid white;
            border-collapse: collapse;
            font-size: 16.4px;
        }

        th, td {
            padding: 20px;
        }

        tr:nth-child(odd) {
            background-color: #fdb825;
        }
    </style>
</head>
<body>

    <div style="background-color: #fdb825">
        <h2 class="text-center" style="color:white"><strong>@ViewBag.Title</strong></h2>
    </div>
    <br />
    <p><h2 class="text-center" style="color:white"><em> Our core values provide a reliable foundation to help us create innovative solutions
    for our clients – even when faced with a tough problem.</em></h2></p>
    <br />
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-8">
            <table class="width:600px">
                <tr>
                    <th style="color:white" class="text-center">Stewardship</th>
                    <td style="color:white" class="text-center"><strong>Practice Responsible Stewardship</strong></td>
                </tr>
                <tr>
                    <th style="color:white" class="text-center">Culture</th>
                    <td style="color:white" class="text-center"><strong>Invest in an Exceptional Culture</strong></td>
                </tr>
                <tr>
                    <th style="color:white" class="text-center">Delivery Excellence</th>
                    <td style="color:white" class="text-center"><strong>Commit to Delivery Excellence</strong></td>
                </tr>
                <tr>
                    <th style="color:white" class="text-center">Innovation</th>
                    <td style="color:white" class="text-center"><strong>Strive to Innovate</strong></td>
                </tr>
                <tr>
                    <th style="color:white" class="text-center">Greater Good</th>
                    <td style="color:white" class="text-center"><strong>Ignite Passion for the Greater Good</strong></td>
                </tr>
                <tr>
                    <th style="color:white" class="text-center">Integrity and Openness</th>
                    <td style="color:white" class="text-center"><strong>Embrace Integrity and Openness</strong></td>
                </tr>
                <tr>
                    <th style="color:white" class="text-center">Balance</th>
                    <td style="color:white" class="text-center"><strong>Live a Balanced Life</strong></td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <br /> 
    <br />
    <img src="https://centricconsulting.com/wp-content/uploads/2020/08/centric_logo_color-scaled.jpg" alt="Digital, Business and Technology Solutions | Centric Consulting" class="center">
       

</body>
</html>

<br />
<br />


