@{
    ViewBag.Title = "Centric's Core Values";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<strong>Stewardship</strong> Practice Responsible Stewardship<br />
<strong>Culture</strong> Invest in an Exceptional Culture<br />
<strong>Delivery Excellence</strong> Commit to Delivery Excellence<br />
<strong>Innovation</strong> Strive to Innovate<br />
<strong>Greater Good</strong> Ignite Passion for the Greater Good<br />
<strong>Integrity and Openness</strong> Embrace Integrity and Openness<br />
<strong>Balance</strong> Live a Balanced Life<br />
                             <br />
                             <br />
                             <br />


<address>
    1020 Dennison Ave<br />
    Columbus, OH 43201-6399<br />
    <abbr title="Phone">P:</abbr>
    614.519.0798
</address>

<address>
    <strong>News and Events:</strong>   <a href="https://centricconsulting.com/news-and-events/">Support@example.com</a><br />
    <strong>Careers:</strong> <a href="https://centricconsulting.com/about-us/careers/">Marketing@example.com</a>
</address>
