@{
        ViewBag.Title = "Home Page";
}
<img src="https://centricconsulting.com/wp-content/uploads/2020/08/centric_logo_color-scaled.jpg" alt="Digital, Business and Technology Solutions | Centric Consulting" class="center">
<div class="row">
    <div class="alert"  style="color:#fdb825;">
        <!--<h2 style="text-align:center;font-size:55px"><b>Centric Consulting </b> </h2> -->
        <!-- <p class="lead"> Team 3 Centric Consulting Project.</p> -->
        <p style="font-size:20px;">
            We’ve always done things a little differently at Centric Consulting. We didn’t start in a conference room. Instead, we started on a couch. And we’ve grown our business on a set of three building blocks: 
        </p>
        <p style="font-size:20px; text-align:center"> <b>Enjoy the people you work with, have fun, and do great work.</b></p>
            <p style="font-size:20px;"> Learn more about Centric Consulting!</p>
            <p><a href="https://centricconsulting.com/" class="btn-lg btn-default" style="background-color: #2c1a5d;color:white">Centric Landing &raquo;</a></p>
        </div>
    </div>


    <div class="row">
        <div class="alert" style="color:#fdb825;">
            <h2 style="font-size:37px;"><u>Core Values</u></h2>
            <p style="font-size:20px;">
                Read about our companies core values. Get a feel for how our team works together and connects on a day to day basis.
            </p>
            <p><a class="btn-lg btn-default" href="~/Home/Contact" style="background-color: #2c1a5d;color:white"> Read About the Core Values &raquo;</a></p>
        </div>
        <div class="alert" style="color:#fdb825;">
            <h2 style="font-size:37px"><u>Make a Post</u></h2>
            <p style="font-size:20px">Reach out and recognize your coworker for their hard work!</p>
            <p><a class="btn-lg btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866" style="background-color: #2c1a5d;color:white">Recognize Coworker &raquo;</a></p>
        </div>
        <div class="alert" style="color:#fdb825;">
            <h2 style="font-size:37px"><u>Inbox</u></h2>
            <p style="font-size:20px">See who has made a comment about you.</p>
            <p><a class="btn-lg btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867" style="background-color: #2c1a5d;color:white">Read Comments &raquo;</a></p>
        </div>
    </div>
    <head>
    <style>
    img {
        width:100%;
    }
    </style>
    </head>

