@{
        ViewBag.Title = "Home Page";
}
<br />
<br />
<img src="https://centricconsulting.com/wp-content/uploads/2020/08/centric_logo_color-scaled.jpg" alt="Digital, Business and Technology Solutions | Centric Consulting" class="center">
<div class="row">
    <div class="alert"  style="color:#fdb825;">
        <!--<h2 style="text-align:center;font-size:55px"><b>Centric Consulting </b> </h2> -->
        <!-- <p class="lead"> Team 3 Centric Consulting Project.</p> -->
        <p style="font-size:20px; text-align:center">
        We’ve always done things a little differently at Centric Consulting. We didn’t start in a conference room. Instead, we started on a couch. And we’ve grown our business on a set of three building blocks: 
        </p>
        <br />
        <br />
        <p style="font-size:35px; text-align:center"> <em><b><u>Enjoy the people you work with, have fun, and do great work.</u></b></em></p>
        <br />
        </div>
    </div>

    <div class="row">
        <div class="alert" style="color: #2c1a5d;">
            <h2 style="font-size:37px;"><b>Learn More About Centric Consulting!</b></h2>
            <p style="font-size:20px;">Digital, Business and Technology Consulting for Growth</p>
            <br />
            <p><a href="https://centricconsulting.com/" class="btn-lg btn-default" style="background-color: #fdb825; color:white">Centric Landing &raquo;</a></p>
        </div>
        <div class="alert" style="color: #2c1a5d;">
            <h2 style="font-size:37px;"><b>Core Values</b></h2>
            <p style="font-size:20px;">Read about our companies core values. Get a feel for how our team works together and connects on a day to day basis.</p>
            <br />
            <p><a class="btn-lg btn-default" href="~/Home/Contact" style="background-color: #fdb825; color: white"> Read About the Core Values &raquo;</a></p>
        </div>
        <div class="alert" style="color: #2c1a5d;">
            <h2 style="font-size:37px"><b>Make a Post</b></h2>
            <p style="font-size:20px">Reach out and recognize your coworker for their hard work!</p>
            <br />
            <p><a class="btn-lg btn-default" href="~/RecognitionPages" style="background-color: #fdb825; color: white">Recognize Coworker &raquo;</a></p>
        </div>
        <div class="alert" style="color: #2c1a5d;">
            <h2 style="font-size:37px"><b>Inbox</b></h2>
            <p style="font-size:20px">See who has made a comment about you.</p>
            <br />
            <p><a class="btn-lg btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867" style="background-color: #fdb825; color: white">Read Comments &raquo;</a></p>
        </div>
    </div>
    <head>
    <style>
    img {
        width:100%;
    }
    </style>
    </head>

