@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="alert alert-warning">
        <h2> Centric Consulting </h2>
        <p class="lead"> Team 3 Centric Consulting project.</p>
        <p> The purpose of this project is to develop a centralized employee system so employees can recognize each other for this accomplishments at work. </p>
        <p> Learn more about Centric Consulting</p>
        <p><a href="https://centricconsulting.com/" class="btn btn-warning">Centric Landing &raquo;</a></p>
    </div>
    </div>


    <div class="row">
        <div class="alert alert-warning">
            <h2>Core Values</h2>
            <p>
                Read about our companies core values. Get a feel for how our team works together and connects on a day to day basis.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="alert alert-warning">
            <h2>Make a post</h2>
            <p>Reach out and recognize your coworker for their hard work!</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="alert alert-warning">
            <h2>Inbox</h2>
            <p>See who has made a comment about you.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
